<!--The content below is only a placeholder and can be replaced.
<div style="text-align:center">-->

    
      <h1>Iniciar sesión</h1>
      
      <div>
        <input   [(ngModel)]="user"  class="form-control"  type="text" placeholder="Username">
        <input [(ngModel)]="password"  type="password" placeholder="Password">
        
        <button (click)="autenticar()">probar</button>
      </div>
   
<!--  
    <div class="container text-center pb-5">
      <img src="https://es.wikipedia.org/wiki/Suzuki_Bandit#/media/Archivo:Bandit_1200.jpg" class="img-fluid" style="position: center; top: 0; z-index: -100; opacity: 0.75;">
        <div class="row pb-sm-0 my-5">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="lead text-center " style="opacity: 3; font-size: 30px">
              <b></b>
            </p>
          </div>
        </div>
      -->   
  <router-outlet></router-outlet>
  
  <router-outlet></router-outlet>